<div class="component-content content-center">
  <md-card *ngIf="myProjects?.length === 0" class="width-30rem margin-1rem">
    <md-card-title><h3>It seems like you did not add any projects yet!</h3></md-card-title>
    <md-card-actions>
      <button md-raised-button color="primary" [routerLink]="['/add-project']">
      <i class="material-icons md-18">add</i>
      Add Project
      </button>
    </md-card-actions>
  </md-card>
  <!-- List of Projects -->
  <div *ngIf="!selectedProject && !selectedEvaluation" class="content-center wrap">
    <md-card *ngFor="let project of myProjects" class="width-30rem margin-1rem">
      <md-card-title><h3>Domain: {{ project.domainName }}</h3></md-card-title>
      <md-card-subtitle><h4>Added on: {{ project.date_shared | date }}</h4></md-card-subtitle>
      <md-card-content>
        <md-list>
          <md-list-item>
            <i class="material-icons md-18 margin-right-halfrem color-text-inactive">extension</i>
            <span>Product Complexity: {{ project.product_complexity }}</span>
          </md-list-item>
          <md-list-item>
            <i class="material-icons md-18 margin-right-halfrem color-text-inactive">assignment_turned_in</i>
            <span>Number of Evaluations: {{ (myEvaluations | evaluationsByIdFilter:[project.id])?.length }}</span>
          </md-list-item>
        </md-list>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="accent" (click)="selectProject(project)">
          <i class="material-icons md-18">chevron_right</i>
          See Details
        </button>
        <button md-raised-button color="primary" (click)="addEvaluation(project)">
          <i class="material-icons md-18">add</i>
          Add Evaluation
        </button>
      </md-card-actions>
    </md-card>
  </div>

  <!-- Detail View for Selected Project -->
  <md-card *ngIf="!!selectedProject && !selectedEvaluation" style="max-width: 68rem">
    <md-card-title><h3>Domain: {{ selectedProject.domainName }}</h3></md-card-title>
    <md-card-subtitle><h4>Added on: {{ selectedProject.date_shared | date }}</h4></md-card-subtitle>
    <md-card-content class="display-flex wrap">
      <md-card class="width-30rem margin-1rem margin-top-1rem">
        <md-card-subtitle><h4>Project</h4></md-card-subtitle>
        <table class="full-width">
          <tr>
            <td>Budget:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.budget }}</span></td>
          </tr>
          <tr>
            <td>Development Methodology:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ allDevMethods | getNamePipe:[selectedProject.dev_method] }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Development Process Maturity:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ devProcessMaturityOptions[selectedProject.dev_process_maturity]?.name }}
            </span>
            </td>
          </tr>
          <tr>
            <td>Team Size:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.team_size }}</span></td>
          </tr>
          <tr>
            <td>Time in Months:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.time }}</span></td>
          </tr>
        </table>
      </md-card>
      <md-card class="width-30rem margin-1rem">
        <md-card-subtitle><h4>Market</h4></md-card-subtitle>
        <table class="full-width">
          <tr>
            <td>Domain:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ selectedProject.domainName }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Market described as:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ allMarketDescr | getNamePipe:selectedProject.market_descr }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Product Complexity:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.product_complexity }}</span></td>
          </tr>
          <tr>
            <td>User Countries:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ allCountries | getNamePipe:selectedProject.user_location }}
              </span>
            </td>
          </tr>
        </table>
      </md-card>
      <md-card class="width-30rem margin-1rem">
        <md-card-subtitle><h4>User</h4></md-card-subtitle>
        <table class="full-width">
          <tr>
            <td>Estimated User Expertise:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.user_expertise }}</span></td>
          </tr>
          <tr>
            <td>User Languages:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ allLanguages | getNamePipe:selectedProject.user_languages }}
              </span>
            </td>
          </tr>
          <tr>
            <td>User Diversity:</td>
            <td>
              <span class="color-text-primary-very-dark">
              {{ selectedProject.user_diversity }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Average User Age:</td>
            <td><span class="color-text-primary-very-dark">{{ selectedProject.user_avg_age }}</span></td>
          </tr>
        </table>
      </md-card>
      <md-card class="width-30rem margin-1rem margin-bottom-1rem">
        <md-card-subtitle><h4>Evaluations</h4></md-card-subtitle>
        <table class="full-width">
          <thead class="table-head">
            <td>Date</td>
            <td>Test Motivation</td>
            <td>Evaluation Method</td>
          </thead>
          <tbody>
            <tr *ngFor="let evaluation of myEvaluations | evaluationsByIdFilter:[selectedProject.id]"
                class="hover-effect"
                (click)="selectEvaluation(evaluation)">
              <td class="table-vertical-align-top td-first">{{ evaluation.date_shared | date }}</td>
              <td class="table-vertical-align-top">{{ evaluation.test_motivation }}</td>
              <td class="max-width-9rem td-last">{{ allEvalMethods | getNamePipe:evaluation.eval_method }}</td>
            </tr>
          </tbody>
        </table>
      </md-card>
    </md-card-content>
    <md-card-actions class="display-flex">
      <button md-raised-button color="accent" (click)="selectProject(selectedProject)">
        <i class="material-icons md-18">chevron_left</i>
        Back to Overview
      </button>
      <button md-raised-button color="primary" (click)="addEvaluation(selectedProject)">
        <i class="material-icons md-18">add</i>
        Add Evaluation
      </button>
      <button md-button color="warn" class="margin-left-auto" (click)="openConfirmDeleteDialog(selectedProject)">
        <i class="material-icons md-18">delete_forever</i>
        Delete Project
      </button>
    </md-card-actions>
  </md-card>

  <!-- Detail View for Selected Evaluation -->
  <md-card *ngIf="!!selectedEvaluation">
    <md-card-title>
      <h3>
        Project Domain: {{ selectedProject.domainName }}
        <i class="material-icons header-icon color-text-primary">chevron_right</i>
        {{ allEvalMethods | getNamePipe:selectedEvaluation.eval_method }}
      </h3>
    </md-card-title>
    <md-card-subtitle><h4>{{ selectedEvaluation.date_shared | date }}</h4></md-card-subtitle>
    <md-card-content class="display-flex wrap">
      <md-card class="width-30rem margin-1rem margin-top-1rem">
        <md-card-subtitle><h4>Evaluator</h4></md-card-subtitle>
        <table class="full-width">
          <tr>
            <td>
              <span>Experience</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.eval_exp }} years</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Number of Evaluators</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.num_eval }}</span>
            </td>
          </tr>
          <tr *ngIf="selectedEvaluation.num_eval > 1">
            <td>
              <span>Collaboration</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.eval_collab }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Domain Knowledge</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.domain_knowledge }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Interaction Knowledge</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.interaction_knowledge }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Product Knowledge</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.product_knowledge }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Task Knowledge</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.task_knowledge }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>User Knowledge</span>
            </td>
            <td>
              <span class="color-text-primary-very-dark">{{ selectedEvaluation.user_knowledge }}</span>
            </td>
          </tr>
        </table>
      </md-card>
      <md-card class="width-30rem margin-1rem margin-bottom-1rem">
        <md-card-subtitle><h4>Benchmarks</h4></md-card-subtitle>
          <table class="full-width">
            <tr>
              <td class="table-vertical-align-top">
                <span>Evaluation Method</span>
              </td>
              <td>
              <span class="color-text-primary-very-dark">
                {{ allEvalMethods | getNamePipe:selectedEvaluation.eval_method }}
              </span>
              </td>
            </tr>
            <tr *ngIf="!!selectedEvaluation.version">
              <td>
                <span>Version</span>
              </td>
              <td>
                <span class="color-text-primary-very-dark">{{ selectedEvaluation.version }}</span>
              </td>
            </tr>
            <tr *ngIf="!!selectedEvaluation.seq">
              <td>
                <span>Single Ease Question (SEQ)</span>
              </td>
              <td>
              <span class="color-text-primary-very-dark table-vertical-align-top">
                {{ selectedEvaluation.seq }} out of 7
              </span>
              </td>
            </tr>
            <tr *ngIf="!!selectedEvaluation.sub_effectiveness">
              <td>
                <span>Subjective Effectiveness</span>
              </td>
              <td>
              <span class="color-text-primary-very-dark">
                {{ selectedEvaluation.sub_effectiveness }}
              </span>
              </td>
            </tr>
            <tr *ngIf="!!selectedEvaluation.sus">
              <td>
                <span>System Usability Scale (SUS)</span>
              </td>
              <td>
              <span class="color-text-primary-very-dark table-vertical-align-top">
                {{ selectedEvaluation.sus }}
              </span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Test Motivation</span>
              </td>
              <td>
              <span class="color-text-primary-very-dark">
                {{ selectedEvaluation.test_motivation }}
              </span>
              </td>
            </tr>
          </table>
      </md-card>
    </md-card-content>
    <md-card-actions class="display-flex">
      <button md-raised-button color="accent" (click)="selectEvaluation(selectedEvaluation)">
        <i class="material-icons md-18">chevron_left</i>
        Back to Overview
      </button>
      <button md-button color="warn" class="margin-left-auto" (click)="openConfirmDeleteDialog(selectedEvaluation)">
        <i class="material-icons md-18">delete_forever</i>
        Delete Evaluation
      </button>
    </md-card-actions>
  </md-card>
</div>
