@import "../../../client/assets/sass/variables.scss";

.hover-effect {
  transition: all .5s;
  cursor: pointer;
  &:hover {
    transition: all .5s;
    background-color: $color-material-light-grey;
    .td-first {
       border-radius: 0.2rem 0 0 0.2rem;
     }
    .td-last {
      border-radius: 0 0.2rem 0.2rem 0;
    }
  }
}

.table-head {
  > td {
    text-decoration: underline;
  }
}

.header-icon {
  font-size: 2rem;
  vertical-align: middle;
}
