<div class="component-content content-vertical-center">
  <md-card class="max-width-42rem">
    <md-card-title>Simply Login</md-card-title>
    <form id="loginForm" [formGroup]="loginForm">
      <md-input-container>
        <input mdInput [formControlName]="'logEmailInput'" placeholder="email" type="email">
        <!-- TODO: newer AngularMaterial versions should support color Input without custom class -->
        <md-hint class="color-text-error" *ngIf="displayLoginError">Credentials do not match</md-hint>
      </md-input-container>
      <md-input-container>
        <input mdInput [formControlName]="'logPasswordInput'" placeholder="password" type="password">
      </md-input-container>
      <button md-button type="submit" (click)="login()" [disabled]="!loginForm.valid">Login</button>
    </form>
  </md-card>
  <h3>OR</h3>
  <md-card class="max-width-42rem">
    <md-card-title>Create a new Account</md-card-title>
    <form id="registerForm" [formGroup]="registerForm">
      <md-input-container>
        <input mdInput [formControlName]="'regEmailInput'" placeholder="email" type="email">
      </md-input-container>
      <md-input-container>
        <input mdInput [formControlName]="'regPasswordInput'" placeholder="password" type="password">
      </md-input-container>
      <button md-button type="submit" (click)="register()" [disabled]="!registerForm.valid">Register</button>
    </form>
  </md-card>
</div>
