<div class="component-content content-vertical-center">
  <div class="max-width-35rem">
    <h2 class="text-center">
      <i class="material-icons margin-right-1rem color-text-primary-light">question_answer</i>
      How it works
    </h2>
    <md-list class="border-top">
      <md-list-item class="margin-top-1rem">UX Data-Cube is a community effort to make small UX-Data big.
        The main goal of this project is to feed a database for UX-Studies to allow for more
        data-driven decisions on which UX-Method Mixes to use when.</md-list-item>
      <md-list-item>Step 1: Set up an account by simply using your email</md-list-item>
      <md-list-item>Step 2: Provide anonymous data about your current software project</md-list-item>
      <md-list-item>Step 3: Come back once you did any sort of Usability Testing or UX-Study</md-list-item>
      <md-list-item>Step 4: Share anonymous meta-data about your study</md-list-item>
      <md-list-item>Step 5: Profit from access to all existing UX-Data</md-list-item>
    </md-list>
  </div>
  <div class="margin-top-5rem max-width-35rem">
    <h2 class="text-center">
      <i class="material-icons margin-right-1rem color-text-primary-light">whatshot</i>
      Features
    </h2>
    <md-list class="border-top">
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Access to a collective database of UX-Studies
      </md-list-item>
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Facilitates documentation of important variables from the project environment
      </md-list-item>
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Captures Data from Usability Studies
      </md-list-item>
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Managing your own (data) contributions
      </md-list-item>
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Graphical Represenation of the data
      </md-list-item>
      <md-list-item>
        <i class="material-icons color-text-inactive">add</i>
        Export of a filtered data subset
      </md-list-item>
    </md-list>
  </div>
  <div class="margin-top-5rem max-width-35rem">
    <h2 class="text-center">
      <i class="material-icons margin-right-1rem color-text-primary-light">group_add</i>
      Contribute
    </h2>
    <md-list class="border-top">
      <md-list-item>
        <a href="https://github.com/tobiaseisenschenk/data-cube"
           class="no-text-decoration display-flex" style="line-height: 2rem">
          <img style="height: 2rem"
               class="margin-right-halfrem"
               src="assets/logo/GitHub-Mark.png">Visit our Open Source Project on GitHub</a>
      </md-list-item>
      <md-list-item>
        We use a cutting edge stack of web-technologies including: <br>
        Angular, Typescript, RxJS, Sass, Firebase, AngularMaterial and Chart.js
      </md-list-item>
    </md-list>
  </div>
  <div class="margin-top-5rem max-width-35rem margin-bottom-2rem">
    <h2 class="text-center">
      <i class="material-icons margin-right-1rem color-text-primary-light">contact_mail</i>
      Contact
    </h2>
    <md-list class="border-top">
      <md-list-item>
        For questions regarding the UX-DataCube project please contact:
      </md-list-item>
      <md-list-item>
        Tobias Eisenschenk <br>
        tobias DOT eisenschenk AT icloud DOT com
      </md-list-item>
    </md-list>
  </div>
</div>
