<md-toolbar color="primary" class="header-style box-shadow-light-below">
  <a [routerLink]="['']" class="no-text-decoration color-text-white display-flex">
    <img src="assets/logo/logo-white-transparent.png">
    <span class="font-weight-600">UX</span><span>DataCube</span>
  </a>

  <nav md-tab-nav-bar class="margin-left-auto" style="border-bottom: none">
    <a md-tab-link [routerLink]="['/add-project']" routerLinkActive #addProject="routerLinkActive"
       [ngClass]="{ 'activeRoute' : addProject.isActive}"
       *ngIf="!!currentUser"
       class="no-text-decoration padding-right-1rem"><span>Add Project</span>
    </a>
    <a md-tab-link [routerLink]="['/add-evaluation']" routerLinkActive #addEval="routerLinkActive"
       [ngClass]="{ 'activeRoute' : addEval.isActive}"
       *ngIf="!!currentUser"
       class="no-text-decoration padding-right-1rem"><span>Add Evaluation</span>
    </a>
    <a md-tab-link [routerLink]="['/my-contributions']" routerLinkActive #myContr="routerLinkActive"
       [ngClass]="{ 'activeRoute' : myContr.isActive}"
       *ngIf="!!currentUser"
       class="no-text-decoration padding-right-1rem"><span>My Contributions</span>
    </a>
    <a md-tab-link [routerLink]="['/visualizations']" routerLinkActive #visuals="routerLinkActive"
       [ngClass]="{ 'activeRoute' : visuals.isActive}"
       *ngIf="!!currentUser"
       class="no-text-decoration padding-right-1rem"><span>Visualizations</span></a>
    <a md-tab-link [routerLink]="['/export']" routerLinkActive #export="routerLinkActive"
       [ngClass]="{ 'activeRoute' : export.isActive}"
       *ngIf="!!currentUser"
       class="no-text-decoration padding-right-1rem"><span>Export</span></a>
    <a md-tab-link [routerLink]="['/login']" routerLinkActive #login="routerLinkActive"
       [ngClass]="{ 'activeRoute' : login.isActive}"
       class="no-text-decoration padding-right-1rem">
      <span *ngIf="!!currentUser" (click)="logout()">Logout</span>
      <span *ngIf="!currentUser">Login</span>
    </a>
  </nav>
</md-toolbar>
