<md-toolbar color="primary" class="header-style box-shadow-light-below">
  <span>UX Data-Cube</span>
  <a [routerLink]="['/add-project']"
     class="margin-left-auto no-text-decoration padding-right-1rem color-text-white"><span>
    Add Project
  </span></a>
  <a [routerLink]="['/add-evaluation']"
     class="no-text-decoration padding-right-1rem color-text-white"><span>
    Add Evaluation
  </span></a>
  <a [routerLink]="['/my-contributions']"
     class="no-text-decoration padding-right-1rem color-text-white"><span>
    My Contributions
  </span></a>
  <a [routerLink]="['/about']"
     class="no-text-decoration padding-right-1rem color-text-white"><span>
    About
  </span></a>
  <a [routerLink]="['/login']"
     class="no-text-decoration padding-right-1rem color-text-white"><span>
    {{currentUser?.auth.email}}
  </span></a>
</md-toolbar>
