// Font
$md-font-family: Lato, 'Helvetica Neue', sans-serif !default;
$font-family-primary: "Lato", sans-serif !default;
$font-family-default: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 1rem !default;

// Colors
$color-white: #FFFFFF !default;
$color-primary: #999AC6 !default;
$color-primary-extra-light: #E8EBE4 !default;
$color-primary-very-light: #D2D5DD !default;
$color-primary-light: #B8BACF !default;
$color-primary-dark: #77789B !default;
$color-primary-very-dark: #798071 !default;
$color-text-default: #131810 !default;
$color-text-error: #d63b25 !default;

// Z-Index
$z-index-header: 100;
